@import "init.scss";

body {
  background: pink;
}

$page: 1100px;

.header {
  width: 100%;
  height: 79px;
  background: #3a3a3a;
  .body {
    width: $page;
    height: 100%;
    background: yellow;
    margin: 0 auto;
  }
}
